<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (C) 2017 Baidu, Inc. All Rights Reserved.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.letmefold">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"
                     tools:ignore="MockLocation,ProtectedPermissions"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.READ_LOGS" tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BATTERY_STATS" tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>

    <!-- 集成SMS需要的权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <!-- 权限级别: dangerous -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 权限级别: normal -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <application
            android:fullBackupContent="false"
            android:name=".DemoApplication"
            android:allowBackup="true"
            android:icon="@drawable/logo_square"
            android:label="@string/app_name"
            android:roundIcon="@drawable/logo_round"
            android:supportsRtl="true"
            android:theme="@style/QMUI.Compat.NoActionBar">
        <meta-data android:name="随处购" android:value="release"/>
        <activity
                android:name=".activity.StartActivity"
                android:theme="@style/QMUI.Compat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activity.LoginActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".activity.TypeActivity"
                android:theme="@style/QMUI.Compat.NoActionBar"/>
        <activity
                android:name=".activity.RegActivity"/>
        <activity
                android:name=".activity.SmsLoginActivity"/>
        <activity
                android:name=".activity.MainActivity"/>
        <activity
                android:name=".activity.user.CardIssueActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".activity.user.CommodityShelvesActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".activity.user.StoreRegisterActivity"
                android:screenOrientation="portrait"/>
        <!-- 活体图像采集界面 -->
        <activity
                android:name=".activity.FaceLivenessExpActivity"
                android:hardwareAccelerated="true"
                android:launchMode="singleTop"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
                android:name=".activity.FaceRegActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".activity.DetectLoginActivity"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
                android:name=".activity.LoginResultActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".activity.FaceDetectActivity"
                android:screenOrientation="portrait"/>
        <!-- 二维码扫描界面 -->
        <activity
                android:name="com.zxing.activity.CaptureActivity"/>
        <!-- SMS -->
        <activity
                android:name="com.mob.tools.MobUIShell"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:windowSoftInputMode="stateHidden|adjustResize"/>
        <!-- QQ三方 -->
        <activity
                android:name="com.tencent.tauth.AuthActivity"
                android:launchMode="singleTask"
                android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="tencent1108058960"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.tencent.connect.common.AssistActivity"
                android:configChanges="orientation|keyboardHidden"
                android:screenOrientation="behind"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
    </application>

</manifest>